PDFTextCourseRAGWorkflow/Course_RAG.json
{
  "name": "Course_RAG",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -432,
        1488
      ],
      "id": "de0ee50a-7514-4c84-8491-bcad50c6ff1e",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1CGo-yzRizUQ94xyho0_U2ZQGENp-uCnb",
          "mode": "list",
          "cachedResultName": "digital_analytics_and_strategies.pdf",
          "cachedResultUrl": "https://drive.google.com/file/d/1CGo-yzRizUQ94xyho0_U2ZQGENp-uCnb/view?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -432,
        624
      ],
      "id": "b9a41215-9caf-4de3-a39e-49bfbc1bc129",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "69mJ2R7961s2rchQ",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -208,
        624
      ],
      "id": "f926c174-1e51-4ce8-85f9-add0c4db83c5",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const chunks = [];\nconst chunkSize = 500;\nconst chunkOverlap = 0;\nconst text = $json.content.replace(/\\n/, '');\nlet index = 0;\nfor (let i=0, j=Math.round(text.length/chunkSize); i<j; i++) {\n  let object = {data: text.substr(\n      Math.max(0,(i * chunkSize)-chunkOverlap),\n      chunkSize\n    ), index: index}\n  chunks.push(object);\n  index = index + 1;\n}\n\nreturn { chunks };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -208,
        960
      ],
      "id": "b774c17d-dd09-47ac-b511-aea0d864fbc6",
      "name": "Code"
    },
    {
      "parameters": {
        "fieldToSplitOut": "chunks",
        "options": {
          "destinationFieldName": "chunk"
        }
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        16,
        960
      ],
      "id": "9f7ac748-2f5b-4119-8bc2-93f46cdcd2f3",
      "name": "Split Out"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1fGgJky-nzGqsxTEF-zzYSTXlzX-hJukhdJzHqDOSSbc",
          "mode": "list",
          "cachedResultName": "digital_analytics_and_strategies_chunks",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fGgJky-nzGqsxTEF-zzYSTXlzX-hJukhdJzHqDOSSbc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fGgJky-nzGqsxTEF-zzYSTXlzX-hJukhdJzHqDOSSbc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.chunk.index }}",
            "chunk": "={{ $json.chunk.data }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "chunk",
              "displayName": "chunk",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        240,
        960
      ],
      "id": "93b931ef-da40-45e4-9f13-d1826f66657b",
      "name": "Append or update row in sheet",
      "executeOnce": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "P3B60ObBDlGUWB9D",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO Book (title, content)\nVALUES ('{{ $json.info.Title }}', '{{ $json.text }}')\nON CONFLICT (title) DO NOTHING\nRETURNING id, title, content;\n  \nSELECT * FROM book\nWHERE title = '{{ $json.info.Title }}'\nLIMIT 1;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        16,
        624
      ],
      "id": "66cb27a5-941d-425b-b4dc-390e6f5f0d17",
      "name": "Execute a SQL query1",
      "credentials": {
        "postgres": {
          "id": "c0EwtdSEd5mVmG5P",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1fGgJky-nzGqsxTEF-zzYSTXlzX-hJukhdJzHqDOSSbc",
          "mode": "list",
          "cachedResultName": "digital_analytics_and_strategies_chunks",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fGgJky-nzGqsxTEF-zzYSTXlzX-hJukhdJzHqDOSSbc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1408349257,
          "mode": "list",
          "cachedResultName": "Sheet2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fGgJky-nzGqsxTEF-zzYSTXlzX-hJukhdJzHqDOSSbc/edit#gid=1408349257"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "context"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        464,
        960
      ],
      "id": "5d1db544-cdcd-448b-9808-72ff2a395562",
      "name": "Get row(s) in sheet",
      "executeOnce": true,
      "alwaysOutputData": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "P3B60ObBDlGUWB9D",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=<document> \n{{ $('Execute a SQL query').item.json.content }}\n</document>\nHere is the chunk we want to situate within the whole document \n<chunk> \n{{ $json.chunk }}\n</chunk> \nPlease give a short succinct context to situate this chunk within the overall document for the purposes of improving search retrieval of the chunk. Answer only with the succinct context and nothing else. "
      },
      "id": "df251bf3-58fd-4f1a-8a88-73ce21c5500f",
      "name": "Generate Contextual Text",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        688,
        960
      ],
      "alwaysOutputData": false,
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        768,
        1184
      ],
      "id": "5f810b52-eb7e-4be3-8749-474055243ea6",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "cHEii3DunkKwuz7x",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1fGgJky-nzGqsxTEF-zzYSTXlzX-hJukhdJzHqDOSSbc",
          "mode": "list",
          "cachedResultName": "digital_analytics_and_strategies_chunks",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fGgJky-nzGqsxTEF-zzYSTXlzX-hJukhdJzHqDOSSbc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1408349257,
          "mode": "list",
          "cachedResultName": "Sheet2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fGgJky-nzGqsxTEF-zzYSTXlzX-hJukhdJzHqDOSSbc/edit#gid=1408349257"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "context": "={{ $json.text }}",
            "chunk": "={{ $('Get row(s) in sheet').item.json.chunk }}",
            "id": "={{ $('Get row(s) in sheet').item.json.id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "context",
              "displayName": "context",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "chunk",
              "displayName": "chunk",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1040,
        960
      ],
      "id": "15d85638-fb86-466a-8e1c-cd0eb3869a9e",
      "name": "Append or update row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "P3B60ObBDlGUWB9D",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Book table\nCREATE TABLE Book (\n    id INT GENERATED ALWAYS AS IDENTITY PRIMARY KEY,\n    title VARCHAR(255) NOT NULL UNIQUE, \n    content TEXT\n);\n\n-- Chunk table\nCREATE TABLE Chunk (\n    id INT GENERATED ALWAYS AS IDENTITY PRIMARY KEY,\n    chunk TEXT NOT NULL,\n    context TEXT,\n    idx INT NOT NULL,\n    book_id INT NOT NULL,\n    CONSTRAINT fk_book FOREIGN KEY (book_id) REFERENCES book(id) ON DELETE CASCADE,\n    CONSTRAINT unique_idx_per_book UNIQUE (book_id, idx)\n);\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -432,
        -464
      ],
      "id": "9a819819-a898-4589-8b39-5a0c70b21000",
      "name": "Setup Tables",
      "credentials": {
        "postgres": {
          "id": "c0EwtdSEd5mVmG5P",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1fGgJky-nzGqsxTEF-zzYSTXlzX-hJukhdJzHqDOSSbc",
          "mode": "list",
          "cachedResultName": "digital_analytics_and_strategies_chunks",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fGgJky-nzGqsxTEF-zzYSTXlzX-hJukhdJzHqDOSSbc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1408349257,
          "mode": "list",
          "cachedResultName": "Sheet2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fGgJky-nzGqsxTEF-zzYSTXlzX-hJukhdJzHqDOSSbc/edit#gid=1408349257"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "context"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -432,
        -240
      ],
      "id": "8281a139-68da-4fea-8136-845a6fb1754f",
      "name": "Get row(s) in sheet1",
      "executeOnce": true,
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "P3B60ObBDlGUWB9D",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM Book LIMIT 1;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -432,
        960
      ],
      "id": "1a95c7cf-f7bd-42b5-b5c0-e0a0df3202ef",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "c0EwtdSEd5mVmG5P",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "content": "## RAG AI Agent with Contextual Retrieval",
        "height": 485,
        "width": 1036
      },
      "id": "ae19ac69-2aef-4be5-b833-9d3a6aa64cde",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -592,
        80
      ]
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=## Role\n\nYou are a Retrieval-Augmented Generation (RAG) assistant designed to answer questions a user has. You use a corpus of documents that are all text based. Your primary goal is to provide accurate, up-to-date, and relevant information based on what the user asks and the documents you retrieve.\n\n## Responsibilities\n\n- Answer user queries with a good mix of being comprehensive but still concise\n- Present information in an easy-to-understand and professional manner  \n- Clarify misconceptions or misinformation\n\n## Other Key Information and Instructions\n\n- Always tell the user if you didn't find the answer. Don't make something up just to please them.\n- Keep your language neutral and factual. Do not show bias or opinion  \n\n## Error Handling\n- If the information cannot be found using the provided instructions respond with:  \n  “I’m sorry, I couldn’t find relevant information based on your documents.”\n"
        }
      },
      "id": "6a87b91a-d7bb-4f7e-ac0c-15b307c7ab8b",
      "name": "RAG AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        -160,
        -16
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        64,
        416
      ],
      "id": "13a70133-cfd0-4db8-9b94-9c5108498819",
      "name": "Embeddings OpenAI2",
      "credentials": {
        "openAiApi": {
          "id": "cHEii3DunkKwuz7x",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "public": true,
        "options": {}
      },
      "id": "e959d581-9da0-47bb-91f9-32d3dc00ffbf",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -432,
        192
      ],
      "webhookId": "2e7c037a-cf2e-40c5-9bed-e0944cc03cfa"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -80,
        208
      ],
      "id": "93fe6d4a-6cd0-4541-8526-b77dff6ac6ff",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -208,
        208
      ],
      "id": "458b73c8-53cf-4377-a95c-41a5287c6d40",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "cHEii3DunkKwuz7x",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "use this tool to get course content from documents",
        "pineconeIndex": {
          "__rl": true,
          "value": "course-contextual-rag",
          "mode": "list",
          "cachedResultName": "course-contextual-rag"
        },
        "topK": 10,
        "useReranker": true,
        "options": {
          "pineconeNamespace": "Digital Analytics and Strategies"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        48,
        208
      ],
      "id": "9cdf0469-ffdb-4378-9106-32e4260a52f7",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "WwDeG34evNN4etxR",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1fGgJky-nzGqsxTEF-zzYSTXlzX-hJukhdJzHqDOSSbc",
          "mode": "list",
          "cachedResultName": "digital_analytics_and_strategies_chunks",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fGgJky-nzGqsxTEF-zzYSTXlzX-hJukhdJzHqDOSSbc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 640138672,
          "mode": "list",
          "cachedResultName": "Sheet3",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fGgJky-nzGqsxTEF-zzYSTXlzX-hJukhdJzHqDOSSbc/edit#gid=640138672"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        16,
        1488
      ],
      "id": "9b301592-0aa8-4562-a932-1299308a297e",
      "name": "Get row(s) in sheet2",
      "executeOnce": true,
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "P3B60ObBDlGUWB9D",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "course-contextual-rag",
          "mode": "list",
          "cachedResultName": "course-contextual-rag"
        },
        "options": {
          "clearNamespace": false,
          "pineconeNamespace": "={{ $('Execute a SQL query2').item.json.title }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        272,
        1488
      ],
      "id": "1428f9d2-6cc4-4e5e-9877-f14932953491",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "WwDeG34evNN4etxR",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{\n{\n  \"content\": `${ $json.context }\\n---\\n${ $json.chunk }`\n}\n}}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "=file_id",
                "value": "={{ $('Execute a SQL query2').item.json.id }}"
              },
              {
                "name": "file_title",
                "value": "={{ $('Execute a SQL query2').item.json.title }}"
              }
            ]
          }
        }
      },
      "id": "76588cf6-bc4b-471e-b2b1-41828495a2ee",
      "name": "Default Data Loader1",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        368,
        1712
      ]
    },
    {
      "parameters": {
        "chunkSize": 2000,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        448,
        1920
      ],
      "id": "253d808d-cfa5-4faa-b1a7-21b197b91b02",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        240,
        1712
      ],
      "id": "52aa183d-b6a4-4476-bc43-fbab64ae2028",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "cHEii3DunkKwuz7x",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM Book LIMIT 1;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -208,
        1488
      ],
      "id": "99462461-265e-44de-8b71-56ea22eaefe3",
      "name": "Execute a SQL query2",
      "credentials": {
        "postgres": {
          "id": "c0EwtdSEd5mVmG5P",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1fGgJky-nzGqsxTEF-zzYSTXlzX-hJukhdJzHqDOSSbc",
          "mode": "list",
          "cachedResultName": "digital_analytics_and_strategies_chunks",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fGgJky-nzGqsxTEF-zzYSTXlzX-hJukhdJzHqDOSSbc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 640138672,
          "mode": "list",
          "cachedResultName": "Sheet3",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fGgJky-nzGqsxTEF-zzYSTXlzX-hJukhdJzHqDOSSbc/edit#gid=640138672"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Limit').item.json.id }}",
            "context": "={{ $('Limit').item.json.context }}",
            "chunk": "={{ $('Limit').item.json.chunk }}",
            "vectorize": "true"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "context",
              "displayName": "context",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "chunk",
              "displayName": "chunk",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "vectorize",
              "displayName": "vectorize",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        736,
        1488
      ],
      "id": "19674862-f2c4-4da6-9d96-0fce130c577d",
      "name": "Append or update row in sheet2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "P3B60ObBDlGUWB9D",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.rerankerCohere",
      "typeVersion": 1,
      "position": [
        192,
        416
      ],
      "id": "896720c8-b04e-4521-9ec0-ce86205b1a73",
      "name": "Reranker Cohere",
      "credentials": {
        "cohereApi": {
          "id": "KPx9KY02vBAdJ1ab",
          "name": "CohereApi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Execute a SQL query2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Execute a SQL query1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query1": {
      "main": [
        []
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Generate Contextual Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Contextual Text",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Generate Contextual Text": {
      "main": [
        [
          {
            "node": "Append or update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI2": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "RAG AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet2": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader1",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query2": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "main": [
        [
          {
            "node": "Append or update row in sheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reranker Cohere": {
      "ai_reranker": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_reranker",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f8aed489-d2f8-41b0-a9e3-f4087f217c5c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6114df9fa60673927e640f52a642006ef4b43f3523add3de0115435b93c3887b"
  },
  "id": "64dqShKbcWGSpGRK",
  "tags": []
}