PMJobHunterWorkflow/Job Agent.json
{
  "name": "Job Agent",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2128,
        1024
      ],
      "id": "8c60d2e1-507c-407d-b233-1fd13d270024",
      "name": "Schedule Trigger",
      "disabled": true
    },
    {
      "parameters": {
        "url": "https://rss.app/feeds/ytGqxQ6iBASIPZP5.xml",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [
        -976,
        1248
      ],
      "id": "d4ae05ef-39f9-44ca-8943-9fefb5f0fe2f",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "maxItems": 5
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -544,
        1248
      ],
      "id": "4421a29a-e8d8-4d2c-9ca1-0f93ace8ca04",
      "name": "Limit"
    },
    {
      "parameters": {
        "url": "https://rss.app/feeds/eLi2CzXTaHeeHkNE.xml",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [
        -768,
        64
      ],
      "id": "0b68efb5-2fe1-4687-8cf5-77cac3495b24",
      "name": "RSS Read1"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1424,
        64
      ],
      "id": "b4c017f3-0f7b-4d24-a929-ae0b9b53b032",
      "name": "Schedule Trigger1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "993ff775-0e35-4844-8b30-6d19f605cbfa",
              "name": "RSS feeds",
              "value": "[\"https://rss.app/feeds/eLi2CzXTaHeeHkNE.xml\", \"https://rss.app/feeds/eLi2CzXTaHeeHkNE.xml\"]",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1200,
        64
      ],
      "id": "28906711-9cc6-43d5-bbb9-c5d92f94e5c3",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "fieldToSplitOut": "['RSS feeds']",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -976,
        64
      ],
      "id": "f6fe8e39-449d-472b-988e-15ca384bef64",
      "name": "Split Out"
    },
    {
      "parameters": {
        "url": "={{ $('RSS Read').item.json.link }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1424,
        2480
      ],
      "id": "eb30e1f5-d572-4731-a2ab-fb687420c869",
      "name": "HTTP Request"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1424,
        1248
      ],
      "id": "9c8705e1-74e6-4cfc-81be-434651d23dd7",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Here's the job title:\n {{ $json.title }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You're an intelligent bot capable of pulling out data from a job listing site. Pull out company name from the job json"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -320,
        848
      ],
      "id": "a81eadad-9776-46b6-a990-57778b60e94a",
      "name": "AI Agent",
      "retryOnFail": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -1424,
        3008
      ],
      "id": "b8742974-7c98-47d1-9eb1-dc0653aaea05",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "0KEfzK2r63GN4ko2",
          "name": "Ollama account 2"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "You're an intelligent bot rating how closely a job listing is to a candidates skill set, on a score of 5.\nGive the following points:\na) 3 points for skills matching, 1 point for mostly matching\nb) 1 point for it being the right experience level\nc) 1 point for it being a remote position\nd) 1 point if past job experience matches the job role\ne) 1 point if the skills on the resume align with the job\nf) 3 points if I meet the job qualifications posted based on my resume",
              "role": "system"
            },
            {
              "content": "=Here's the job listing details:\n{{ $json }}\n\nHere is the candidates skill set:\n📄 SAMPLE RESUME\n\nAlex Morgan\n📍 Toronto, ON, Canada | 📧 alex.morgan@email.com | 📞 (123) 456-7890 | 🌐 linkedin.com/in/alexmorgan | github.com/alexmseo (optional if portfolio on GitHub)\n\n🎓 Education\nBachelor of Business Administration – Marketing\nUniversity of Toronto, Toronto, ON\nGraduated: April 2025 | GPA: 3.7/4.0\n\nRelevant coursework:\n\nDigital Marketing Strategies\n\nData Analytics in Marketing\n\nConsumer Behaviour\n\nSEO & Content Marketing (elective)\n\n💼 Experience\nSEO Intern\nGrowthRocket Agency, Remote | Jan 2025 – Apr 2025\n\nConducted technical SEO audits for 10+ client websites using tools like Screaming Frog, Ahrefs, and Google Search Console.\n\nImplemented structured data (Schema.org) to improve click-through rates in search results.\n\nOptimized on-page elements such as meta titles, descriptions, H1-H3 tags, internal linking, and image alt text.\n\nCollaborated with the content team to develop keyword-rich blog content and updated outdated pages.\n\nImproved page speed performance using tools like PageSpeed Insights and GTmetrix.\n\nFreelance SEO Consultant\nSelf-Employed | May 2024 – Present\n\nHelped 3 small local businesses optimize their websites for search engines, increasing organic traffic by 30–70% within 3 months.\n\nConducted keyword research and competitive analysis to guide content creation.\n\nSet up Google Analytics 4 and Google Search Console for performance monitoring.\n\n🛠 Skills\nSEO Tools: Google Search Console, GA4, Ahrefs, Screaming Frog, SEMrush, Yoast SEO\nCMS: WordPress, Wix\nTechnical SEO: Site audits, page speed optimization, canonical tags, indexing & crawling\nOn-Page SEO: Meta tags, internal linking, content structure, image optimization\nSoft Skills: Communication, problem-solving, attention to detail, teamwork\n\n📚 Certifications\nGoogle Analytics Certification – Google\n\nSEO Fundamentals – Semrush Academy\n\nTechnical SEO Certification – Moz (or any other you’ve done)"
            },
            {
              "content": "Please return JSON data structured the following way:\n{\n\"score\": \"\"\n}",
              "role": "assistant"
            }
          ]
        },
        "simplify": false,
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -1424,
        2736
      ],
      "id": "08d63b93-12b9-43e0-b28b-623d10a526d5",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "cHEii3DunkKwuz7x",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1424,
        592
      ],
      "id": "b570b502-fad1-4ff9-b76c-1bf0d6e86033",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        -1424,
        320
      ],
      "id": "9683a856-88a4-4201-aba4-00c3a84666a1"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "10VUC4DCfDxVwcQyVK8_ZuVYRNd3suPIgt1RRFVr6WaI",
          "mode": "list",
          "cachedResultName": "LinkedIn Job Listings",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10VUC4DCfDxVwcQyVK8_ZuVYRNd3suPIgt1RRFVr6WaI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10VUC4DCfDxVwcQyVK8_ZuVYRNd3suPIgt1RRFVr6WaI/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Title": "={{ $('Limit').item.json.title }}",
            "Job Description": "={{ $('Limit').item.json.content }}",
            "Link": "={{ $('Limit').item.json.link }}",
            "Date": "={{ $('Limit').item.json.pubDate }}",
            "Company Name": "={{ $('AI Agent').item.json.output.companyName }}",
            "Cover Letter": "={{ $json.choices.last().message.content.cover_letter }} }}"
          },
          "matchingColumns": [
            "Link"
          ],
          "schema": [
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Job Description",
              "displayName": "Job Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Link",
              "displayName": "Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Rating",
              "displayName": "Rating",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Benefits",
              "displayName": "Benefits",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Job Description",
              "displayName": "Job Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Cover Letter",
              "displayName": "Cover Letter",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        480,
        1040
      ],
      "id": "35808016-8d40-4655-ae72-c6c1c5eb9df5",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "P3B60ObBDlGUWB9D",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"companyName\": \"\"\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -240,
        1072
      ],
      "id": "b2b7cfd6-7ab6-455b-a450-b75f6650cda8",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -48,
        1280
      ],
      "id": "62d7c3ba-2007-4a14-9982-6d64ee5ef5f2",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "cHEii3DunkKwuz7x",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "You're an intelligent bot perfect at creating cover letters for a job. Please take the candidates resume and create a customized cover letter to the job. Ensure to limit the cover letter to 200 words",
              "role": "system"
            },
            {
              "content": "=Here's the job listing details:\nTitle: {{ $('Limit').item.json.title }}\nDescription: {{ $('Limit').item.json.content }}\nName: {{ $json.output.companyName }}\n\nHere is the candidates skill set:\n📄  RESUME\nPersonal Information\n\nName: Raunak Joneja\n\nEmail: raunakjoneja@gmail.com\n\nMobile: +91‑9930549237\n\nLinkedIn: (link provided in résumé)\n\nLocation: Mumbai, India\n\nProfile Summary\n\nStrategic Product Leader with 8+ years’ experience in mobile product & solution development (5 years in Product Engineering), driving ideation‑to‑launch execution across AI, B2B fintech and mobile‑first consumer platforms. Adept at translating complex technical challenges into actionable product strategies, launching and scaling mobile solutions at Shaadi.com, Drivezy and Bon Happetee. Demonstrated success in AI‑driven innovation (LLM features, agentic workflows, OpenAI function calls), data‑informed decision‑making, customer‑journey mapping and Agile/Scrum leadership.\n\nCore Competencies\n\nProduct Lifecycle Management\n\nStakeholder Management & Scrum/Kanban\n\nConflict Resolution\n\nAI & Machine Learning\n\nGo‑to‑Market Strategy\n\nAPI Integration\n\nBacklog & Feature Prioritisation\n\nProduct Analytics\n\nUX/UI Principles\n\nCross‑functional Collaboration & Customer Retention\n\nPRDs, AI & LLMs\n\nAgile Methodology & User Story Mapping\n\nSoft Skills\n\nTeam Management · Collaboration · Critical Thinking · Innovation · Leadership · Communication\n\nEducation & Certifications\n\nQualification\n\nInstitution / Provider\n\nCompletion\n\nM.A. Digital Product Management\n\nInternational University of Applied Sciences, Berlin\n\nExpected May 2025\n\n • Master Thesis: “Dating Behaviours and Market Gaps Among Indian Singles in Their 30s: A Gender‑Based Analysis for Dating‑App Innovation & Tackling Loneliness (Design‑Thinking Lens)”\n\n\n\n\n\nB.Sc. Computer Science\n\nNottingham Trent University\n\nJul 2015\n\nInnovation of Products & Services – MIT’s Approach to Design Thinking (Certificate)\n\nMIT Sloan School of Management\n\nDec 2023\n\nKey Technical Skills\n\nSQL, Amazon Redshift\n\nGoogle Analytics, Looker, MS Excel\n\nOpen‑source automation & AI tools: n8n, Manus, Ollama\n\nRetrieval‑Augmented Generation (RAG) techniques\n\nPrompt Engineering & ChatGPT\n\niOS Development: Objective‑C, Swift, SwiftUI\n\nMonolithic & Micro‑services Architecture\n\nRuby on Rails (API & server‑side)\n\nHTML/CSS & JavaScript\n\nJira, Trello; Backlog grooming, Sprint planning, Cross‑functional coordination\n\nSignificant Highlight\n\nProject: Empowering vernacular & non‑tech‑savvy users with free‑text and speech search using OpenAI‑powered function calling.\n\nRunner‑up, People Interactive (Shaadi.com) Annual Hackathon – showcased problem‑solving, innovation & teamwork.\n\nProfessional Experience\n\n1. People Interactive Pvt Ltd (Shaadi.com) — Mumbai\n\nProduct Owner (iOS)Mar 2021 – Feb 2024\n\nDrove AI‑powered feature innovation, boosting engagement on India’s leading matrimonial platform.\n\nActed as strategic bridge between product & engineering to deliver features aligned with user behaviour and business goals.\n\nSpearheaded AI‑based Conversation Starter leveraging profile data → increased interactions & time‑on‑app.\n\nDesigned OpenAI function‑calling workflow to convert unstructured voice search into structured API parameters (Hackathon runner‑up).\n\nLed end‑to‑end integration of media & file sharing in chat, addressing NSFW content challenges with feasible, cost‑effective safeguards.\n\nConceptualised & launched “Dealbreaker” feature for non‑negotiable partner preferences → higher match relevance, satisfaction & conversion.\n\nChampioned data‑driven, scalable execution, improving KPIs and reinforcing Shaadi.com’s innovation leadership.\n\n2. CoValue Technologies — Mumbai\n\nProduct App ArchitectJan 2017 – Jun 2020\n\nPartnered with financial‑data experts from concept to rollout, integrating complex valuation data into an intuitive UX.\n\nLed & mentored a team of 3 designers/UX developers to implement intricate flows supporting accurate valuation computations.\n\nStreamlined data‑inflow processes and optimised UI → higher operational efficiency & user engagement.\n\n3. Drivezy & Bon Happetee — Mumbai\n\niOS EngineerOct 2015 – Jan 2017\n\nCollaborated with founders on key product touchpoints; redeveloped Bon Happetee nutrition‑assistant app → stable, bug‑free release & eventual acquisition by Setu Nutrition.\n\nRefactored iOS app for JustRide (now Drivezy), integrating new P2P car‑rental model and enhancing user flow.\n\nOther Engagements\n\nCoValue Technologies — Mumbai\n\nIndependent ConsultantJan 2025 – Present\n\nBuilding B2B investing tools; addressed B2C adoption challenges due to finance‑heavy UI.\n\nDesigned simplified UX using open‑source platforms & LLMs (n8n, Ollama, DeepSeek) for users with limited financial expertise.\n\nMot Voix Pvt Ltd — Mumbai\n\nIndependent ConsultantOct 2024 – Jan 2025\n\nEnhanced guest‑management & lead‑generation solutions for event organisers.\n\nDelivered premium support for invite‑only events, ensuring seamless attendee experience & organiser efficiency.\n\nAwards & Achievements\n\nRunner‑up, People Interactive Annual Hackathon (2023) for OpenAI function‑calling search solution\n\nTools & Methodologies\n\nAgile, Scrum, Kanban\n\nDesign Thinking\n\nCustomer Journey Mapping & CRM Optimisation\n\nMarket Analysis & Data‑informed Product Strategy\n\n\n"
            },
            {
              "content": "Please return JSON data structured the following way:\n{\n\"cover_letter\": \"\"\n}",
              "role": "assistant"
            }
          ]
        },
        "simplify": false,
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        128,
        1040
      ],
      "id": "dc13a2d8-25bc-4751-a43c-ffe09d104948",
      "name": "Message a model1",
      "credentials": {
        "openAiApi": {
          "id": "cHEii3DunkKwuz7x",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "10VUC4DCfDxVwcQyVK8_ZuVYRNd3suPIgt1RRFVr6WaI",
          "mode": "list",
          "cachedResultName": "LinkedIn Job Listings",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10VUC4DCfDxVwcQyVK8_ZuVYRNd3suPIgt1RRFVr6WaI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10VUC4DCfDxVwcQyVK8_ZuVYRNd3suPIgt1RRFVr6WaI/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -1200,
        1248
      ],
      "id": "33f53a88-c018-450a-8eb9-dbb376544a6c",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "P3B60ObBDlGUWB9D",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0226439b-c68a-4f1b-82d0-a57f211fa82d",
              "leftValue": "={{ $('RSS Read').item.json.link }}",
              "rightValue": "={{ $('Get row(s) in sheet').item.json.Link }}",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "70231144-9b3e-48d7-af92-25465f9e4686",
              "leftValue": "={{ $('RSS Read').item.json.title }}",
              "rightValue": "Culligan",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -768,
        1248
      ],
      "id": "ce4c9354-8a77-49ab-89da-588bcd00953c",
      "name": "Filter1"
    }
  ],
  "pinData": {
    "Message a model": [
      {
        "json": {
          "id": "chatcmpl-Br3w8QfgmExY31JkNrDfqAnrxi1j7",
          "object": "chat.completion",
          "created": 1751986216,
          "model": "gpt-4o-mini-2024-07-18",
          "choices": [
            {
              "index": 0,
              "message": {
                "role": "assistant",
                "content": {
                  "score": 5
                },
                "refusal": null,
                "annotations": []
              },
              "logprobs": null,
              "finish_reason": "stop"
            }
          ],
          "usage": {
            "prompt_tokens": 608,
            "completion_tokens": 9,
            "total_tokens": 617,
            "prompt_tokens_details": {
              "cached_tokens": 0,
              "audio_tokens": 0
            },
            "completion_tokens_details": {
              "reasoning_tokens": 0,
              "audio_tokens": 0,
              "accepted_prediction_tokens": 0,
              "rejected_prediction_tokens": 0
            }
          },
          "service_tier": "default",
          "system_fingerprint": "fp_34a54ae93c"
        }
      },
      {
        "json": {
          "id": "chatcmpl-Br3w9FWgQli03VFuz0o0mszt4JGLC",
          "object": "chat.completion",
          "created": 1751986217,
          "model": "gpt-4o-mini-2024-07-18",
          "choices": [
            {
              "index": 0,
              "message": {
                "role": "assistant",
                "content": {
                  "score": 5
                },
                "refusal": null,
                "annotations": []
              },
              "logprobs": null,
              "finish_reason": "stop"
            }
          ],
          "usage": {
            "prompt_tokens": 608,
            "completion_tokens": 9,
            "total_tokens": 617,
            "prompt_tokens_details": {
              "cached_tokens": 0,
              "audio_tokens": 0
            },
            "completion_tokens_details": {
              "reasoning_tokens": 0,
              "audio_tokens": 0,
              "accepted_prediction_tokens": 0,
              "rejected_prediction_tokens": 0
            }
          },
          "service_tier": "default",
          "system_fingerprint": "fp_34a54ae93c"
        }
      },
      {
        "json": {
          "id": "chatcmpl-Br3wA0HIdXmNUuZOlltQ6mEoLnlQs",
          "object": "chat.completion",
          "created": 1751986218,
          "model": "gpt-4o-mini-2024-07-18",
          "choices": [
            {
              "index": 0,
              "message": {
                "role": "assistant",
                "content": {
                  "score": 5
                },
                "refusal": null,
                "annotations": []
              },
              "logprobs": null,
              "finish_reason": "stop"
            }
          ],
          "usage": {
            "prompt_tokens": 608,
            "completion_tokens": 9,
            "total_tokens": 617,
            "prompt_tokens_details": {
              "cached_tokens": 0,
              "audio_tokens": 0
            },
            "completion_tokens_details": {
              "reasoning_tokens": 0,
              "audio_tokens": 0,
              "accepted_prediction_tokens": 0,
              "rejected_prediction_tokens": 0
            }
          },
          "service_tier": "default",
          "system_fingerprint": "fp_34a54ae93c"
        }
      }
    ]
  },
  "connections": {
    "Schedule Trigger": {
      "main": [
        []
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "RSS Read1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        []
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Message a model1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        []
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        []
      ]
    },
    "Replace Me": {
      "main": [
        []
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Message a model1": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        []
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter1": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "142c7888-33a3-49fb-8d50-1afd4d098783",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6114df9fa60673927e640f52a642006ef4b43f3523add3de0115435b93c3887b"
  },
  "id": "tD9LV8HEbE0F5rPr",
  "tags": []
}